<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" 
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://dubbo.apache.org/schema/dubbo 
		http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
		
	
	<dubbo:application name="tinker-web" logger="slf4j">
		<dubbo:parameter key="qos.enable" value="false"/>
	</dubbo:application>
  	
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.zookeeper.address}" 
		file="${user.home}/dubbo-cache/tinker-web.dubbo.cache" check="false"  />
	
    <!-- consumer -->
    <dubbo:consumer id="default_consumer_config" check="false" mock="false" validation="true" />
    <dubbo:reference consumer="default_consumer_config" id="uncompletedOrderProvider" interface="org.tinker.order.provider.UncompletedOrderProvider" />
    <dubbo:reference consumer="default_consumer_config" id="payRecordProvider" interface="org.tinker.payment.provider.PayRecordProvider" />
    
</beans>